.frequencyCanvas{
    border:.2em solid $primary;
}

.frequencyDisplayWrapper{
    margin:2em 0;
    h4{
        display:block;
        width:8em;

        line-height:4.5em;
        float:left;
    }
}

.frequencyOutputChart{
    border:.2em solid $black;
    float:left;
    margin:0 1em 0 0;
    // border-radius:.5em;
    .backgroundWrapper .background{
        // fill:none;//$primary;
        fill:$cream;
    }
    .dataWrapper rect{
        fill:none;//$cream;
    }
    .mainline{
        fill:none;
        stroke:$primary;
        stroke-width:.1rem;
    }
    .mainarea{
        stroke:none;
        fill:rgba($primary,.2);
    }
    .tick{
        stroke:$primary;
        stroke-width:.1rem;
    }
}