.volumeCanvas{
    border:.2em solid $primary;
}

.volumeDisplayWrapper{
    margin:2em 0;
    h4{
        display:block;
        width:6em;

        line-height:4.5em;
        float:left;
    }
}

.volumeOutputChart{
    border:.2em solid $black;
    float:left;
    margin:0 1em 0 0;
    // border-radius:.5em;
    .backgroundWrapper .background{
        fill:$primary;
    }
    .dataWrapper rect{
        fill:$cream;
    }
    .axis text {
      font: 10px sans-serif;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #000;
      shape-rendering: crispEdges;
    }
}