.controlPad{
    position:relative;
    background:$black;
    width:300px;
    height:300px;
    cursor:none;
    overflow:hidden;
    margin:2em auto;
}

.controlPadMarker{
    position:absolute;
    top:50%;
    left:50%;
    width:1em;
    height:1em;
    background:$primary;
    border-radius:.5em;
    margin-top:-.5em;
    margin-left:-.5em;
    display:none;
}

.controlPad:hover .controlPadMarker{
    display:block;
}

.visualOutputWrapper{
    margin:2em auto;
}